.head{
    margin-right:570px;
    font-size: 20px;
}

.head1{
    margin-left:10px;
    color:white;
}

.nav-link{
    color:white;
    margin-top: -5px;
}

.noSchedule{
    margin-top:100px;
    margin-left:300px;
    color:black;
    font-size: 30px;;
}

